body
{
    background-color: rgb(20, 0, 77);
    
}

.container-nav
{
  position: fixed;
  display: flex;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
}

#carouselExampleIndicators
{
    width: 35%;
    margin-left: 30%;
}

.container-card
{
    display: flex;
    justify-content: space-between;
    
}

.card
{
    margin-top: 5%;
    width: 15%;
    height: 100%;
}

#text
{
    color: snow;
    margin-left: 2%;
    margin-top: 5%;
}